<div>
    <h3 id="catHeader">All Categories</h3>
    <div class="container" id="questionContainer">
        <div class="row">
            <div class="col-md-4">
                <h3 id="categoryName">Photography</h3>
                <div>
                    <br>
                    <br>
                    <p id="description">Digital photographic technology is continually changing, however, the principles behind good photography don't change. This free online course in digital photography gives you the opportunity to gain extensive knowledge and understanding of digital photography...
                    <br>
                    <br>
                        <a class="btn btn-primary pull-right" href="#">
                            <i class="fa fa-pencil"></i> Take test
                        </a>
                    </p>
                    <img src="http://upload.wikimedia.org/wikipedia/commons/c/c0/Canon_XT_with_28-105.jpg" id="categoryImg">
                </div>
                <br>
                <br>
                </div>
            <div class="col-md-4">
                <h3 id="categoryName">Music</h3>
                <div>
                    <br>
                    <br>
                    <p id="description">Music theory is the analysation of how music works - by studying the notation and language of music. Introduction to Music Theory introduces the basic concepts and terms needed to discuss melody and harmony.
                        <a class="btn btn-primary pull-right" href="#">
                            <i class="fa fa-pencil"></i> Take test
                        </a>
                    </p>
                    <img src="http://topwalls.net/wallpapers/2012/02/Brown-bass-guitar-1600x2560.jpg" id="categoryImg">
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <h3 id="categoryName">History</h3>
                <br>
                <br>
                <div>
                    <p id="description">Humans have been designing and building monuments and buildings of all types and sizes from the dawn of civilisation to the extent that the built environment reflects a people's cultural, religious an..
                    <br>
                        <a class="btn btn-primary pull-right" href="#">
                            <i class="fa fa-pencil"></i> Take test
                        </a>
                    </p>
                    <img src="../modules/core/img/brand/history.jpg" id="categoryImg">
                </div>
                <br>
                <br>
            </div>
            <div class="col-md-4">
                <h3 id="categoryName">Carpentry</h3>
                <br>
                <br>
                <div>
                    <p id="description">An age-old and highly skilled trade, carpentry has evolved to incorporate improved building materials and construction methods. Modern-day carpenters find themselves working on a variety of projects that span both the residential and commercial sectors.
                        <a class="btn btn-primary pull-right" href="#">
                            <i class="fa fa-pencil"></i> Take test
                        </a>
                    </p>
                </div>
                <img src="https://s-media-cache-ak0.pinimg.com/236x/a8/d7/eb/a8d7eb0ba8a70431d9b8d9a0cafe74b1.jpg" id="categoryImg">
            </div>
        </div>
    </div>
</div>
