<section class="row darkBg" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center margin_top_md whiteFont">Sign up</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 margin_top_sm">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div><br>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div><br>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div><br>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div><br>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div><br>

				<div class="text-center input-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button><span class="whiteFont">&nbsp; or&nbsp;</span>
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div><br>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>